@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $text;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:focus {
  /*color: $link;*/
}

p {
  margin: 0;
}

.page-wrapper {
  width: 1600px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-flow: row nowrap;
}

.sidebar,
.main {
  flex:0 1 50%;
}

.disp-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &--align-i-center {
    align-items: center;
  }
}

.text-center {
  text-align: center;
}