mixin advantage(icon, title, text)
  div
    i(class= icon)
    h3= title
    p= text

.advantages.shell
  h2 Наши преимущества
  +advantage("fas fa-desktop", "Аудитории", "Занимайтесь на современных компьютерах! Более 20 оборудованных аудиторий!")
  +advantage("fas fa-graduation-cap", "Преподаватели", "Занятия ведут кандидаты технических наук в области автомобилестроения")
  +advantage("fas fa-car", "Тренажеры", "Тренируйтесь не выезжая на дороги! Абсолютно безопасно, а самое главное БЕСПЛАТНО! Свободное посещение")
  +advantage("fas fa-road", "Автодром", "Свой АВТОДРОМ! Никаких доплат! Без очереди!")