footer.footer.shell
  .footer__wrapper.disp-flex 
    .footer__menu
      ul.footer-menu
        li.footer-menu__item
          a.footer-menu__link(href="#") Акции
        li.footer-menu__item
          a.footer-menu__link(href="#") Новости
        li.footer-menu__item
          a.footer-menu__link(href="#") Услуги
    .footer__address
      p Адрес
      p г.Киров,
      p Октябрьский проспект, 133
    .footer__vk-widget
      p Здесь будет виджет из контакта
  .copyright.text-center
    p &copy; Вятская ГСХА