header.header.flex-block.shell
  div.logo
    a.logo__link.flex-block.disp-flex--align-i-center(href='#')
      i.fas.fa-shipping-fast.logo__icon
      span.logo__title Автошкола ВятГСХА
  .contacts
    p.contacts__line Октябрьский проспект, 133
    p.contacts__line 77-77-77
    a(href="#").button.button--medium Онлайн запись
