div.main
  div
    p CONTENT
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo laudantium assumenda ratione nobis ullam odit, exercitationem blanditiis quasi voluptas aperiam?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt rem culpa provident aperiam quasi nulla cupiditate fugiat nobis, magnam omnis consequatur mollitia itaque tempora fugit nemo optio eum, delectus accusantium soluta reiciendis earum ipsam unde beatae? Temporibus aliquid cupiditate aspernatur.
