.maps.shell.no-gutters
  div#ya-map.ya-maps

script(charset='utf-8' async src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=DjA_m3sF_JRHD8wGFGl9sJN83gmzDFau&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false&amp;id=ya-map')