mixin menu-item(text)
  li.main-menu__item
    a.main-menu__link(href="#")= text 

div.nav.shell
  ul.main-menu.disp-flex
    +menu-item("Акции")
    +menu-item("Услуги")
    +menu-item("Онлайн обучение")
    +menu-item("Расписание")
    +menu-item("Автодром")
    +menu-item("Новости")
    +menu-item("Фото")
    +menu-item("Отзывы")
    +menu-item("О нас")
    +menu-item("Контакты")