mixin cost(name, cat, cost, time)
  div.card.flex-block__col3.text-center
    h3.card__name= name
    h3.card__name= cat
    p.card__marked.text-bold #{cost} р.
    p.card__text Срок обучения
    p.card__text= time
    a.button.button--medium(href="#") Подробнее

.price.shell.shell--content.shell--color
  h2.block-title.text-uppercase.text-center Стоимость обучения
  div.flex-block.flex-block--justify-center
    +cost("Автомобиль", "категория B", "22000", "от 1 месяца")
    +cost("Мотоцикл", "категория А", "12000", "1 месяц")
    +cost("Квадроцикл", "категория А1", "от 6000", "1 месяц")
    +cost("Снегоход", "категория А1", "от 6000", "1 месяц")
    +cost("Трактор", "категории B, C, D, E", "9000", "от 1 месяца")
    +cost("Трэкол", "категория А2", "от 9000", "от 1,5 месяцев")
    +cost("Комбайн", "категория F", "от 9000", "от 2 месяцев")