aside.sidebar
  div
    p SIDEBAR 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci est mollitia sunt, cumque laborum consequatur libero non voluptatem eius eum, fugit pariatur exercitationem natus quis numquam vitae, incidunt similique a!